<div class="container center">

<div class="container">
  <div class="row">
      <h1>Add new expense!</h1>
      <button (click)="AddBudget()">Click Me!</button>
  </div>
</div>

  <div class="page-area">

         <pb-breadcrumbs>
          <h1>BreadCrumb</h1>
          <div>BreadCrumb as first child in main page!
             Added new component BreadCrumb and addded to the main page.
             </div>
         </pb-breadcrumbs>

          <pb-article>
            <h1>Stay on track</h1>
            <div>
             Do you know where you are spending your money? If you really stop to track it down,
             you would get surprised! Proper budget management depends on real data...
            and this app will help you with that! </div>
      </pb-article>

      <pb-article>
          <h1>Alerts</h1>
          <div>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </div>
  </pb-article>

  <pb-article>
          <h1>Results</h1>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

  <pb-article>
    <div class="container">
        <pb-hometable></pb-hometable>
    </div>
</pb-article>



<pb-article>
    <h1>Pie Chart - Expenses</h1>
    <div>
        <canvas id="myChart" width="400" height="400" style="width:350px;height:350px"></canvas>
    </div>
</pb-article>

<pb-pie>
  <h1>Donut Chart - Expenses</h1>
  <div>
  <figure id="pie"></figure>
  </div>
</pb-pie>

<pb-article>
    <h1>With respect to Max Budget </h1>
    <div>
        <canvas id="myMaxBudget" width="400" height="400" style="width:350px;height:350px"></canvas>
        <pb-max-chart></pb-max-chart>
          </div>
</pb-article>


<pb-article>
    <h1>Expected v/s Actual Budget</h1>
    <div>
        <pb-dualbar></pb-dualbar>
    </div>

</pb-article>


  </div>
</div>

